<p>Dashboard for <%= current_user.name %></p>
<p>Lifetime floors: <%= current_user.lifetime_floors %></p>
<p>Lifetime steps: <%= current_user.lifetime_steps %></p>
<p>Lifetime kilometres: <%= current_user.lifetime_kilometres %></p>