// Colours
$light-brown: #D7C8B8;
$dark-brown: #8A735B;
$light-blue: #C2DAE3;
$dark-blue: #596E7C;

.bar {
  fill: $dark-brown;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: $dark-blue;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
