// Colours
$light-brown: #D7C8B8;
$dark-brown: #8A735B;
$light-blue: #C2DAE3;
$dark-blue: #596E7C;

// Fonts
$header-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;

.bar {
  fill: $dark-brown;
}

.axis text,
.legend {
  font: 10px $body-font;
}

.axis path,
.axis line {
  fill: none;
  stroke: $dark-blue;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 34px;
  padding: 2px;
  font: 12px $body-font;
  background: $light-brown;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
